
#urlInput{
	width: 100%;
	height: 100%;
	margin-top: 10%;
	text-align: center;
}
#imageInput{
	width: 100%;
	height: 100%;
	margin-top: 10%;
}

#urlInputContainer{
	width: 50%;
	height: 500px;
	border: 4px solid rgba(0, 0, 0, 0.7);
	margin-top: 10%;
	float: right;
	text-align: center;
}
#imageInputContainer{
	width: 50%;
	height: 500px;
	border: 4px solid rgba(0, 0, 0, 0.7);
	margin-top: 10%;
	float: left;
	text-align: center;
}

#newspaperBackground{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 0%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #bbbbbb;
	position: absolute;
	height: 100%;
	width: 90%;
	
    background-color: #e6e6e6;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 100%, 100% 0%,color-stop(0, rgb(220, 220, 220)),color-stop(1, rgb(240, 240, 240)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom left,rgb(220, 220, 220) 0%,rgb(240, 240, 240) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top right,rgb(220, 220, 220) 0%,rgb(240, 240, 240) 100%);
    background-image: -ms-repeating-linear-gradient(bottom left,rgb(220, 220, 220) 0%,rgb(240, 240, 240) 100%);
	padding-bottom: 0;
}

#headline{
	text-align: center;
	margin-top: 5%;
	font-size: 100px;
}

#contentContainer{
	height:100%;
	position: relative;
}

#loadingImage{
	display:none;
	text-align: center;
}
#loadingMessage{
	margin-auto;
	margin-top: 10%;
}

body {
	height: 100%; 
	background-color: #252525;
}